# Secure/secret variables via `dotenv`
# 10 minute overview: https://www.youtube.com/watch?v=_qgRBAua7cE
AIRTABLE_KEY=keyaaaaaaaaaaaaaa

# Insecure/public variables via Vite's dotenv handling
# Documentation: https://vitejs.dev/guide/env-and-mode.html
VITE_AIRTABLE_BASE_ID=appaaaaaaaaaaaaaa